<div class="example-button-row" routerLink="">
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon"
      >keyboard_arrow_left</mat-icon
    ><span class="aligned-with-icon">選擇課程</span>
  </button>
</div>

<div class="all-card">
  <!-- 1 -->

  <mat-accordion class="expansion-card">
    <mat-expansion-panel (opened)="test()">
      <mat-expansion-panel-header
        [collapsedHeight]="'100px'"
        [expandedHeight]="'100px'"
      >
        <mat-panel-title>
          基本資料
        </mat-panel-title>
        <mat-panel-description>
          <p>報名學生的資料</p>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <div class="example-container">
        <form class="example-container">
          <mat-form-field>
            <mat-label>學生姓名</mat-label>
            <input matInput placeholder="學生姓名" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>身份證字號</mat-label>
            <input matInput placeholder="身份證字號" >
          </mat-form-field>

          <label>性別</label>
          <mat-radio-group >
            <mat-radio-button value="female">女生</mat-radio-button>
            <mat-radio-button value="male">男生</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <mat-label>出生年月日</mat-label>
            <input matInput placeholder="年/月/日" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>電子信箱</mat-label>
            <input matInput placeholder="電子信箱" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>手機號碼</mat-label>
            <input matInput placeholder="手機號碼" >
          </mat-form-field>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- 2 -->

  <mat-accordion class="expansion-card">
      <mat-expansion-panel (opened)="test()">
        <mat-expansion-panel-header
          [collapsedHeight]="'100px'"
          [expandedHeight]="'100px'"
        >
          <mat-panel-title>
            基本資料
          </mat-panel-title>
          <mat-panel-description>
            <p>報名學生的資料</p>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <div class="example-container">
          <form class="example-container">
            <mat-form-field>
              <mat-label>學生姓名</mat-label>
              <input matInput placeholder="學生姓名" >
            </mat-form-field>

            <mat-form-field>
              <mat-label>身份證字號</mat-label>
              <input matInput placeholder="身份證字號" >
            </mat-form-field>

            <label>性別</label>
            <mat-radio-group >
              <mat-radio-button value="female">女生</mat-radio-button>
              <mat-radio-button value="male">男生</mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
              <mat-label>出生年月日</mat-label>
              <input matInput placeholder="年/月/日" >
            </mat-form-field>

            <mat-form-field>
              <mat-label>電子信箱</mat-label>
              <input matInput placeholder="電子信箱" >
            </mat-form-field>

            <mat-form-field>
              <mat-label>手機號碼</mat-label>
              <input matInput placeholder="手機號碼" >
            </mat-form-field>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="subit-button" id="next-button">
  <a mat-raised-button routerLink="">確定選課</a>
</div>
