
<!-- <img [src]="imagePath"> -->
<img src="http://www.ex100.com.tw/images/%E7%B6%B2%E9%A0%81%E5%88%87%E7%89%88-01.png" id="logo">

<div class="container">

    <div class="home-button" id="info">
      <a mat-raised-button routerLink="content/information">新增個人資料</a>
    </div>

    <div class="home-button" id="class">
      <a mat-raised-button routerLink="content/class">新增課程</a>
    </div>

    <div class="home-button" id="confirn">
      <a mat-raised-button routerLink="content/confirn">確認報名</a>
    </div>
</div>
