
#logo{
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 40%;
    margin-right: 60%;
}

.container{
  margin-top: 10%;
  margin-bottom: 0%;
  margin-left: 40%;
  margin-right: 60%;
}


.home-button {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

#info, #class{

}

#confirn{
  position: absolute;
  bottom:5%;
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 360px;
  height: 70px;
  padding: 20px;
}
