<div class="example-button-row" routerLink="" *ngIf="stepIdx === 1">
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon"
      >keyboard_arrow_left</mat-icon
    ><span class="aligned-with-icon">填寫個人資料</span>
  </button>
</div>

<div class="example-button-row" *ngIf="stepIdx !== 1" (click)="goBackCard()">
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon"
      >keyboard_arrow_left</mat-icon
    ><span class="aligned-with-icon">上一步</span>
  </button>
</div>

<div class="all-card" [ngSwitch]="stepIdx">
  <!-- 第一張卡 -->
  <div class="form-container" *ngSwitchCase="1">
    <div class="form-scroll-wrapper">
      <mat-card>
        <div class="inputs-form" [formGroup]="infoForm1">
          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="學生姓名"
              formControlName="name"
              class="width-4 input-padding"
            />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="身份證字號"
              formControlName="idCardNum"
            />
          </mat-form-field>

          <mat-radio-group
            formControlName="gender"
            class="width-4 input-padding"
          >
            <mat-radio-button value="female" class="width-1 input-padding"
              >女生</mat-radio-button
            >
            <mat-radio-button value="male" class="width-1 input-padding"
              >男生</mat-radio-button
            >
          </mat-radio-group>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              [matDatepicker]="startpicker"
              placeholder="出生日期"
              formControlName="birthDay"
              readonly
              (click)="
                openedDatePicker({
                  date: infoForm1.value.birthDay,
                  pickerone: startpicker
                })
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startpicker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #startpicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input matInput placeholder="電子信箱" formControlName="email" />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input matInput placeholder="手機號碼" formControlName="phone" />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="學校名稱"
              formControlName="schoolName"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="年"
              formControlName="studyYear"
              class="width-1 input-padding"
            />
          </mat-form-field>
          <a class="width-1 input-padding">年</a>
          <mat-form-field>
            <input
              matInput
              placeholder="班"
              formControlName="studyClassName"
              class="width-1 input-padding"
            />
          </mat-form-field>
          <a class="width-1 input-padding">班</a>
          <!-- <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
        </div>
      </mat-card>
    </div>
  </div>

  <!-- 第二張卡 -->
  <div class="form-container" *ngSwitchCase="2">
    <div class="form-scroll-wrapper">
      <mat-card>
        <div class="inputs-form" [formGroup]="infoForm2">
          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="家長姓名"
              formControlName="name"
              class="width-4 input-padding"
            />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="手機號碼"
              formControlName="phone"
            />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="家用號碼"
              formControlName="homePhone"
            />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="電子信箱"
              formControlName="email"
            />
          </mat-form-field>


          <mat-form-field>
            <mat-select placeholder="縣市" formControlName="city">
              <mat-option value="縣市">Option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="鄉鎮市區" formControlName="town">
              <mat-option value="鄉鎮市區">Option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="街名" formControlName="street"></textarea>
          </mat-form-field>

        </div>
      </mat-card>
    </div>
  </div>

  <!-- 第三張卡 -->
  <div class="form-container" *ngSwitchCase="3">
    <div class="form-scroll-wrapper">
      <mat-card>
        <div class="inputs-form" [formGroup]="infoForm3">

            <mat-radio-group
            formControlName="sibling"
            class="width-4 input-padding"
          >
            <mat-radio-button value="female" class="width-1 input-padding"
              >有手足</mat-radio-button
            >
            <mat-radio-button value="male" class="width-1 input-padding"
              >無手足</mat-radio-button
            >
          </mat-radio-group>

          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="姓名"
              formControlName="name1"
              class="width-4 input-padding"
            />
          </mat-form-field>

          <mat-form-field class="width-4 input-padding">
              <input
                matInput
                placeholder="學校名稱"
                formControlName="schoolName1"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="年"
                formControlName="studyYear1"
                class="width-1 input-padding"
              />
            </mat-form-field>
            <a class="width-1 input-padding">年</a>
            <mat-form-field>
              <input
                matInput
                placeholder="班"
                formControlName="studyClassName1"
                class="width-1 input-padding"
              />
            </mat-form-field>
            <a class="width-1 input-padding">班</a>


            <mat-form-field class="width-4 input-padding">
                <input
                  matInput
                  placeholder="姓名"
                  formControlName="name2"
                  class="width-4 input-padding"
                />
              </mat-form-field>

              <mat-form-field class="width-4 input-padding">
                  <input
                    matInput
                    placeholder="學校名稱"
                    formControlName="schoolName2"
                  />
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    placeholder="年"
                    formControlName="studyYear2"
                    class="width-1 input-padding"
                  />
                </mat-form-field>
                <a class="width-1 input-padding">年</a>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="班"
                    formControlName="studyClassName2"
                    class="width-1 input-padding"
                  />
                </mat-form-field>
                <a class="width-1 input-padding">班</a>

        </div>
      </mat-card>
    </div>
  </div>

  <!-- 第四張卡 -->
  <div class="form-container" *ngSwitchCase="4">
    <div class="form-scroll-wrapper">
      <mat-card>
        <div class="inputs-form" [formGroup]="infoForm4">
          <mat-form-field class="width-4 input-padding">
            <input
              matInput
              placeholder="介紹人姓名"
              formControlName="introducer"
              class="width-4 input-padding"
            />
          </mat-form-field>
        </div>
      </mat-card>
      <h2>請務必當日填寫，事後無法補填</h2>
    </div>
  </div>
</div>

<div class="subit-button" id="next-button" *ngIf="stepIdx !== 4">
  <a mat-raised-button (click)="goNextCard()">下一步</a>
</div>
<div class="subit-button" id="next-button" *ngIf="stepIdx === 4">
  <a mat-raised-button routerLink="">完成</a>
</div>
