.aligned-with-icon-relative{
  position: relative;
  top: -5px;
  margin-left: 5px; /* optional */
}


.form-container > * {
  width: 60%;
  margin-left: 20%;
}
/* new */

.inputs-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-padding {
  box-sizing: border-box;
  padding: 0 10px;
}
.width-4 {
  width: 100%;
}
.width-3 {
  width: 75%;
}
.width-2 {
  width: 50%;
}
.width-1 {
  width: 25%;
}
.info-wrapper {
  display: flex;
  align-items: center;
}
.info {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info:hover {
  cursor: pointer;
}
.style-hidden {
  visibility: hidden;
}

/* --- 勞保業別範例 popup --- */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  z-index: 1000;
}
.show-overlay {
  display: block;
}
.popup-container {
  display: block;
  width: 800px;
  background-color: #fafafa;
  margin: 120px auto;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 32px 32px 20px 32px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}
.popup-img-wrapper {
  display: block;
  width: 100%;
}
.popup-img {
  width: 100%;
  border: 1px #ccc solid;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
.btn-wrapper > button {
  margin-left: 20px;
}
